
@model IEnumerable<MundiPagg.Web.ModelView.EventModelView>

@{ var index = 1; }

<div class="row small-up-2 large-up-4">

    @foreach (var e in Model.Take(4))
    {
        <div class="column">
            <img class="thumbnail" src="@e.Picture" height="400" width="270" style="min-height:400px;max-height:400px; max-width:270px">
            <h6>@e.Name</h6>
            <p>R$ @e.Price.ToString("N2")</p>
            <a href="/Ticket/@e.Id" class="button expanded">Comprar</a>
        </div>
    }
</div>
<div class="row small-up-2 large-up-4">

    @foreach (var e in Model.Skip(4).Take(4))
    {
        <div class="column">
            <img class="thumbnail" src="@e.Picture" height="400" width="270" style="min-height:400px;max-height:400px; max-width:270px">
            <h6>@e.Name</h6>
            <p>R$ @e.Price.ToString("N2")</p>
            <a href="/Ticket/@e.Id" class="button expanded">Comprar</a>
        </div>
    }
</div>


